<div class="header-container">
    <div class="container">
        <mat-toolbar color="primary">
            <button mat-button>
              <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a> 
            </button>
            <span class="example-spacer"></span>
            <button mat-button>
              <a [routerLink]="['/world']" routerLinkActive="router-link-active" >World</a> 
            </button>
            <button mat-button>
              <a [routerLink]="['/magic']" routerLinkActive="router-link-active" >Magic</a> 
            </button>
            <button mat-button>
              <a [routerLink]="['/culture']" routerLinkActive="router-link-active" >Culture</a> 
            </button>
        </mat-toolbar>
    </div>
</div>